/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #005C8B;
}
#getLocation {
    background-color: #005C8B;
    font-family: "Kanit", sans-serif; 
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#getLocation:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #005C8B; 
    border-radius: 10rem;
    z-index: -2;
}

#getLocation:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #004571; 
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

#getLocation:hover {
    color: #fff;
}

#getLocation:hover:before {
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 5vw;
    background-color: #f1f1f181;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
}

.text-section {
    flex: 1;
    padding: 20px;
    color: #005C8B;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.text-section h1 {
    margin: 5px 0;
    font-size: 50px;
}

.text-section h2 {
    padding-top: 50px;
    margin: 10px 0;
    font-size: 20px;
    padding-bottom: 50px;
}

.carousel-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex; /* Ajuste importante */
    justify-content: flex-start;
    align-items: center;
}

.carousel-image {
    width: 100%;
    height: auto;
    display: block; 
    transition: transform 0.5s ease-in-out; 
    border-radius: 20%;
}

.carousel-image.active {
    transform: translateX(0); 
}

/* Botões de navegação */
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 93, 139, 0.562);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-section h1 {
        font-size: 40px;
    }

    .text-section h2 {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .carousel-section {
        width: 100%;
    }

    .carousel-container {
        max-width: 90vw;
        height: auto;
    }

    #getLocation {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .text-section h1 {
        font-size: 30px;
    }

    .text-section h2 {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .carousel-container {
        max-width: 100%;
        height: auto;
    }

    .carousel-image {
        width: 100%;
        height: auto;
    }
}

.menu-bar {
    background-color: #0c3246;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-bar ul li {
    margin-right: 20px;
}

.menu-bar ul li button {
    background: none; 
    border: none; 
    color: white; 
    cursor: pointer; 
    font-family: "Kanit", sans-serif; 
    font-size: 20px; 
}

.menu-bar ul li button:hover {
    color: lightgray; /* Muda a cor do texto ao passar o mouse */
}


.wave-section {
    position: relative;
    background-color: #0c3246;
    padding: 50px 20px;
    text-align: center;
    margin-top: auto; 
}

.wave .shape-fill {
    fill: #28607e;
}

.content {
    position: relative;
    z-index: 1;
}

.text_made {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    color: white;
    font-size: 14px;
}

.points-section {
    margin-top:200px;  
    padding: 20px;
    background-color: #f9f9f9;
}

.points-list {
    font-family: "Kanit", sans-serif;
    list-style: none;
    padding: 0;
}

.point-item {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #005C8B;
    cursor: pointer;
    margin: 5px 0;
    text-align: left;
}

.point-info {
    display: none; 
    background-color: #f1f1f1;
    padding: 10px;
    border-left: 3px solid #005C8B;
    margin-top: 5px;
}

#title-pontos{
    font-family: "Kanit", sans-serif;
}


.sobre{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #005C8B;
    font-family: "Kanit", sans-serif;
    color: #e9e6e6;
}

#h1-sobre {
    text-align: center;
}

#p-sobre{
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
    font-size: 20px;
}

#p1-sobre{
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
}

#p2-sobre{
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
}

#p3-sobre{
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
}

#button-prefeitura {
    margin-top: 20px;
    font-family: "Kanit", sans-serif;
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #235f80;
    text-decoration: none;
    user-select: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
  }

  #button-prefeitura:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  
  #button-prefeitura:focus,
  #button-prefeitura:hover {
    background: #0c3246; 
  }
  
  #button-prefeitura:active:after {
    width: 300px;
    height: 300px;
  }

  .div-button-prefeitura{
    display: flex;
    justify-content: center;
  }

  .feedback {
    background-color: #004571;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}

#areaFeedback {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 300px;
    height: 100px;
}

#buttonFeedback {
    background-color: #005C8B;
    font-family: "Kanit", sans-serif; 
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#buttonFeedback:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #005C8B; 
    border-radius: 10rem;
    z-index: -2;
}

#buttonFeedback:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #004571; 
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

#buttonFeedback:hover {
    color: #fff;
}

#buttonFeedback:hover:before {
    width: 100%;
}

#textFeedback {
    font-family: "Kanit", sans-serif; 
    color: white;
    text-align: left;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 30px;
}

#loading img {
    width: 50px;
    height: 50px;
}

#loading {
    margin-top: 2px;
}
