<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Waste</title>
    <link rel="icon" href="assets/img/logo.png" type="image/png">
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
</head>
<body>
    <header>
        <nav class="menu-bar">
            <ul>
                <li><button onclick="scrollToSectionPoints()">Pontos</button></li>
                <li><button onclick="scrollToSectionAbout()">Sobre</button></li>
                <li><button onclick="scrollToSectionFeedback()">Feedback</button></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-section">
            <img src="assets/img/logo.png" alt="Imagem sobre E-Waste" class="logo">
            <h1>E-Waste</h1>
            <h2>Clique no botão para saber o ponto de coleta de lixo eletrônico mais próximo</h2>
            <button id="getLocation">Permitir Localização</button>
            <div id="loading" style="display: none;">
                <img src="assets/gif/looding.svg" alt="Carregando..." />
            </div>
        </div>
    
        <div id="map"></div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    </div>
    <section id="points-section" class="points-section">
        <h2 id="title-pontos">Pontos de Coleta</h2>
        <ul class="points-list">
            <li>
                <button class="point-item" onclick="toggleInfo(0)">ASMAR</button>
                <div class="point-info" id="info-0">
                    <p>Endereço: Rua dos Branquilhos, n° 79, Bairro Nova Santa Marta</p>
                    <p>Telefone: (55) 98111-0146</p>
                    <p>Horário: 9h - 18h</p>
                    <p>Materiais aceitos: CPU’s, estabilizadores, nobreaks, placas eletrônicas em geral, celulares, tablets, notebooks, fios e impressoras</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(1)">MULTIPLASPEL</button>
                <div class="point-info" id="info-1">
                    <p>Endereço: BR 158, n° 199 Bairro Boi Morto</p>
                    <p>Telefone e WhatsApp: (55) 3212-6074</p>
                    <p>Horário: 9h - 18h</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(2)">MARINGÁ METAIS</button>
                <div class="point-info" id="info-2">
                    <p>Endereço: Rua Miguel de Carvalho Macedo, nº 250, Bairro Uglione</p>
                    <p:>Telefone: (55) 3213-2074</p>
                    <p>Horário: 9h - 18h</p>
                    <p>E-mail: maringametais@hotmail.com</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(3)">SHOPPING PRAÇA NOVA</button>
                <div class="point-info" id="info-3">
                    <p>Endereço: BR-287 com Rua Irmã Dulce, nº 2.885, Bairro Patronato</p>
                    <p>Horário: 9h - 18h</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(4)">CAMPUS DA UFSM</button>
                <div class="point-info" id="info-4">
                    <p>Endereço: Av. Roraima, nº 1000, Cidade Universitária, Bairro Camobi,</p>
                    <p>Anexo A do Centro de Tecnologia (CT)</p>
                    <p>Subsolo do Hospital Universitário (Husm)</p>
                    <p>Comitê Ambiental da Casa do Estudante (CEU)</p>
                    <p>Centro de Ciências Naturais e Exatas (CCNE)</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
        </ul>
    </section>
    <section id="sobre" class="sobre">
        <div>
            <h1 id="h1-sobre">Sobre</h1>
        <div>
            <p id="p-sobre">O E-Waste é um projeto desenvolvido no âmbito da 
                disciplina de Computadores e Sociedade, oferecido pelo Centro 
                de Tecnologia da Universidade Federal de Santa Maria (UFSM). 
                O aplicativo tem como objetivo auxiliar a comunidade de Santa 
                Maria na localização de pontos de coleta de lixo eletrônico, 
                promovendo uma destinação correta e sustentável para esse tipo 
                de resíduo.
            </p>
            <p id="p1-sobre">Por meio de mapas interativos, o Pilha Map permite que os usuários 
                encontrem os locais mais próximos onde podem descartar corretamente 
                eletrônicos, como pilhas, baterias, e outros aparelhos eletrônicos. 
                Esses pontos de coleta são essenciais para o descarte seguro de resíduos 
                que, se não tratados adequadamente, podem causar danos ao meio ambiente 
                devido à presença de substâncias tóxicas.
            </p>
            <p id="p2-sobre">
                Além de sua função prática, o Pilha Map reflete a 
                preocupação do projeto com a conscientização ambiental e a 
                responsabilidade social, incentivando práticas de descarte 
                consciente e o reaproveitamento de materiais.
            </p>
            <p id="p3-sobre">Para mais informações, entre no site da prefeitura para mais
                 informações. Site abaixo:</p>
        </div>
            <div class="div-button-prefeitura">
                <button id="button-prefeitura">Site da Prefeitura</button>
            </div>        
        </div>
    </section>

    <section id="feedback" class="feedback">
        <div>
            <h2 id="textFeedback">
                Encontrou algum erro no site ou nos pontos? Envie para nós 
                utilizando a área abaixo.
            </h2>
        </div>
        <textarea id="areaFeedback" placeholder="Digite seu Feedback aqui..."></textarea>
        <div id="div-buttonFeedback">
            <button id="buttonFeedback" onclick="enviarFeedback()">Enviar</button>
        </div>
    </section>
    
    <section class="wave-section">
        <div class="content">
            <p class="text_made">Made by João Guasso, Leonardo Brisolla e Lucas Blanger.</p>
            <footer class="text_made">
                <p>&copy; 2024 E-Waste. Todos os direitos reservados.</p>
            </footer>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
