<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilha map</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="menu-bar">
            <ul>
                <li><button onclick="scrollToSectionAbout()">Sobre</button></li>
                <li><button onclick="scrollToSectionPoints()">Pontos</button></li>
                <li><button onclick="scrollToSectionInfo()">Informações</button></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-section">
            <h1>Pilha Map</h1>
            <h1>Permitir acesso à sua localização</h1>
            <button id="getLocation">Permitir Localização</button>
        </div>
        <div class="carousel">
            <button id="prev-btn" class="carousel-btn prev-btn">&#10094;</button>
            <div class="carousel-images">
                <img src="assets/img/img1.png" alt="Imagem 1">
                <img src="assets/img/img2.png" alt="Imagem 2">
                <img src="assets/img/img3.png" alt="Imagem 3">
                <img src="assets/img/img4.png" alt="Imagem 4">
            </div>
            <button id="next-btn" class="carousel-btn next-btn">&#10095;</button>
        </div>
    </div>
    <div class="arrow">↓</div>
    <section id="points-section" class="points-section">
        <h2>Pontos de Coleta</h2>
        <ul class="points-list">
            <li>
                <button class="point-item" onclick="toggleInfo(0)">ASMAR</button>
                <div class="point-info" id="info-0">
                    <p>Endereço: Rua dos Branquilhos, n° 79, Bairro Nova Santa Marta</p>
                    <p>Telefone: (55) 98111-0146</p>
                    <p>Horário: 9h - 18h</p>
                    <p>Materiais aceitos: CPU’s, estabilizadores, nobreaks, placas eletrônicas em geral, celulares, tablets, notebooks, fios e impressoras</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(1)">MULTIPLASPEL</button>
                <div class="point-info" id="info-1">
                    <p>Endereço: BR 158, n° 199 Bairro Boi Morto</p>
                    <p>Telefone e WhatsApp: (55) 3212-6074</p>
                    <p>Horário: 9h - 18h</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(2)">MARINGÁ METAIS</button>
                <div class="point-info" id="info-2">
                    <p>Endereço: Rua Miguel de Carvalho Macedo, nº 250, Bairro Uglione</p>
                    <p:>Telefone: (55) 3213-2074</p>
                    <p>Horário: 9h - 18h</p>
                    <p>E-mail: maringametais@hotmail.com</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(3)">SHOPPING PRAÇA NOVA</button>
                <div class="point-info" id="info-3">
                    <p>Endereço: BR-287 com Rua Irmã Dulce, nº 2.885, Bairro Patronato</p>
                    <p>Horário: 9h - 18h</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
                <button class="point-item" onclick="toggleInfo(4)">CAMPUS DA UFSM</button>
                <div class="point-info" id="info-4">
                    <p>Endereço: RAv. Roraima, nº 1000, Cidade Universitária, Bairro Camobi</p>
                    <p>Materiais aceitos: Todos os tipos</p>
                </div>
            </li>
            <li>
        </ul>
    </section>
    <section class="wave-section">
        <div class="content">
            <p class="text_made">Made by João Guasso, Leonardo Brisolla e Lucas Blanger.</p>
            <footer class="text_made">
                <p>&copy; 2024 Pilha Map. Todos os direitos reservados.</p>
            </footer>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
